.jumbotronblock {
    display: flex;
    margin-bottom: 4%;
}

.jumbotronblock__image-cntr {
    
}

.jumbotronblock__image-container__image {
    max-width: 370px;
}

.jumbotronblock__content-cntr {
    flex-grow: 2;
    margin-left: 30px;
}

.jumbotronblock__content-cntr__heading {
    font-family: verdana;
    font-size: 4.5em;
    line-height: 1.1em;
    margin-top: 4%;
    word-wrap: break-word;
}

.jumbotronblock__content-cntr__sub-heading {
    font-family: verdana;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.3em;
    margin: 2% 0 4% 0;
    width: 80%;
}